<div bsModal #dialogBox="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogBox"
    aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px">
                <h4 class="modal-title">{{dialogData?.title ? dialogData?.title : 'Confirmation' }}</h4>
                <!-- <button type="button" class="close" (click)="onDialogClose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <span [innerHtml]="dialogData?.message ? dialogData?.message : ''"></span>
            </div>
            <div class="modal-footer" style="border-top: 0px">
                <button type="submit" class="btn btn-primary" (click)="onDialogYes()">Yes</button>
                <button type="button" class="btn btn-secondary" (click)="onDialogClose()">No</button>
            </div>
        </div>
    </div>
</div>